<div class="session-container">
  <div class="well well-none">
    <h1>Update your profile</h1>
    <div class="form-group">
      <%= form_for(@user) do |f| %>
        <%= render 'fields', f: f %>
        <br>
        <%= f.submit "Save Changes", class: "form-control btn btn-info" %>
      <% end %>
    </div>
  </div>
</div>