<div class="session-container">
  <div class="well well-branded">
    <h1>Sign Up</h1>
    <div class="form-group">
      <%= form_for(@user) do |f| %>
      <%= render 'fields', f: f %>
      <br>
      <%= f.submit "Create my account", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>