<h1><%= @user.name %></h1>
 
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <h1>
           <%#= @user.quizzes.each do |q| %>
          <p>Title: <%#= q.title %></p>
          <p>Body: <%#= q.body %></p>
          <p>Category Title: <%#= Category.find(q.category_id).title  %></p>
          <p>Level: <%#= q.level %></p>
          <%# end %>
        </h1>
     </section>
   </aside>
 </div>