<div class="parallax-window" data-parallax="scroll" data-image-src="<%= asset_path 'features.jpg' %>">
  <div class="home-container">
    <div class="logo-container">
      <center>
        <h1>Welcome Page </h1>
        <p>Find me in app/views/welcome/index.html.erb</p>
        <%= link_to 'My Quizzes', controller: 'quizzes' %>
      </center>
    </div>
    <div class="feature-container">
      
    </div>
  </div>
</div>


<div class="parallax-window" data-parallax="scroll" data-image-src="<%= asset_path 'features2.jpg' %>">
  <div class="home-container">
    <div class="container">
      <center>
        <div class="col-md-4">
          <img src="http://placehold.it/300x300">
        </div>
        <div class="col-md-4">
          <img src="http://placehold.it/300x300">
        </div>
        <div class="col-md-4">
          <img src="http://placehold.it/300x300">
        </div>
      </center>
    </div>
  </div>
</div>

<div class="parallax-window" data-parallax="scroll" data-image-src="<%= asset_path 'features3.jpg' %>">
  <div class="home-container">
    <div class="container">
      <center>
        <div class="col-md-12">   
          <img src="http://placehold.it/900x300">
        </div>
      </center>
    </div>
  </div>
</div>