// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Welcome Page


body {
  margin-top: 20px;
  background-color: #ffffff;
}



.login-menu {
  min-width: 300px !important;
  max-width: 300px !important;
  height: 230px !important;
  padding: 10px;
}

.home-container {
  height: 100vh;
  position: relative;
  margin: 0 auto;
}

.logo-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // padding: 20px;
  // border-radius: 20px;
  // background-color: rgba(255,255,255,0.2);
    h1 {
      font-family: 'Lato', sans-serif;
      font-size: 37px;
      font-weight: bold;
      color: black;
      margin: 0;
      // text-shadow: 1px 1px 5px rgba(203,13,15,0.7);
    }
}

.solid-container{
  height: 700px;
  position: relative;
  margin: 0 auto;
  background-color: #eeeeee;
}

.section-container{
  height: 700px;
  position: relative;
  margin: 0 auto;
}

#footer {
  width: 100%;
  height: 50px;
  position: relative;
  bottom: 0;
  left: 0;
  background-color: rgba(35,172,155,0.5);
}

// This offsets the anchor link to make it hit the right spot
.anchor-margin {
  padding-top: 50px;
}

.placeholder-text {
  color: white;
  background-color: #23ac9b;
  width: 250px;
  margin-top: 0;
  margin-bottom: 30px;
}




@media (max-width: 767px) {
  // img {
  //   width: 10%
  // }
  // .placeholder-text {
  //   width: 10%;
  // }
  // .container {
  //   width: 10%;
  // }
  .section-container, .solid-container {
    height: 950px;
  }
  #section_three {
    visibility: hidden;
  }
}


