<h1>Show All Categories Page</h1>
<p>views/categories/index.html.erb</p>

<%= link_to 'ADD A NEW CATEGORY', new_category_path, class: "btn btn-lg btn-warning" %>
<br>
<br>
<% @categories.each do |c| %>
  <p><%= c.title %></p>
  <p><%= link_to 'edit', edit_category_path(c), class: "btn btn-xs btn-primary" %>
  <%= link_to 'delete', category_path(c), method: :delete, data:{confirm: "you sure"}, class: "btn btn-xs btn-danger" %></p>
  <hr>
<% end %>